---
import CallToAction from '~/components/widgets/CallToAction.astro';

interface Props {
  id?: string;
}

const { id = "default" } = Astro.props;

const callToActionData = {
  id,
  actions: [
    {
      variant: 'secondary',
      text: "Invia la tua candidatura",
      href: 'https://forms.gle/gMPq1WAKezoVYBZj8',
      target: '_blank',
    },
    {
      variant: 'primary',
      text: "Scarica il programma",
      href: 'https://forms.gle/1iC8wvqYNbffmzJr5',
      target: '_blank',
    },
  ]
};

---

<CallToAction {...callToActionData}>
  <Fragment slot="subtitle">
    <p>Il programma dettagliato del percorso con le informazioni riguardo i contenuti dei corsi e i prezzi è disponibile per il download.
    <p>Per poter garantire un livello adeguato e seguire singolarmente ogni studente The Soul and The Machine è un corso su invito a numero chiuso. Per partecipare è possibile inviare la propria candidatura spontanea.</p>
  </Fragment>
</CallToAction>