---
import CallToAction from '~/components/widgets/CallToAction.astro';

interface Props {
  id?: string;
}

const { id = "default" } = Astro.props;

const callToActionData = {
  id,
  subtitle: `<p>Il programma dettagliato del percorso con le informazioni riguardo i contenuti dei corsi e i prezzi è disponibile per il download.</p>
    <p>Per poter garantire un livello adeguato e seguire singolarmente ogni studente, The Soul and The Machine è un corso su invito a numero chiuso. Per partecipare è possibile inviare la propria candidatura spontanea.</p>
    <p>Le candidature chiuderanno il <strong>20 novembre 2025 alle ore 20</strong>.</p>`,
  actions: [
    {
      variant: 'secondary',
      text: "Invia la tua candidatura",
      href: 'https://forms.gle/pi8jvxY1SbRXRFURA',
      target: '_blank',
    },
    {
      variant: 'primary',
      text: "Scarica il PDF",
      href: 'https://forms.gle/1iC8wvqYNbffmzJr5',
      target: '_blank',
      icon: 'tabler:download'
    },
  ]
};

---

<CallToAction {...callToActionData} />