---
import ContentMultiImage from '~/components/widgets/ContentMultiImage.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';
import community8 from '~/assets/images/community/community8.jpg';
import community2 from '~/assets/images/community/community2.jpg';
import community6 from '~/assets/images/community/community6.jpg';
import community4 from '~/assets/images/community/community4.jpg';
import community5 from '~/assets/images/community/community5.jpg';

const communityImages = [
  {
    src: community8,
    alt: 'Colorful Image',
  },
  {
    src: community2,
    alt: 'Colorful Image',
  },
  {
    src: community6,
    alt: 'Colorful Image',
  },
  {
    src: community4,
    alt: 'Colorful Image',
  },
  {
    src: community5,
    alt: 'Colorful Image',
  },
];
---

<ContentMultiImage
  isAfterContent
  isReversed
  images={communityImages}
>
  <Fragment slot="content">
    <PortraTitle title="La comunità" />
    <p>
      Uno degli elementi distintivi di The Soul and The Machine è la creazione di una comunità affiatata di fotografi e docenti. Crediamo fermamente che il confronto costante e il sostegno reciproco siano fondamentali per la crescita artistica. Ogni partecipante entra a far parte di una rete di professionisti e appassionati che condividono idee, esperienze e critiche costruttive. Gli studenti creano relazioni che spesso si estendono oltre la durata del corso.
    </p>
    <p>
      Nel 2024 abbiamo fondato l'associazione culturale IDA ETS di cui i nostri studenti sono soci che ci aiuta a creare opportunità per loro come la residenza Materia Paranoica in provincia di Udine e che lavora alla creazione di uno spirito comunitario in cui i singoli possono proporre attività collettive di studio e di lavoro.
    </p>
  </Fragment>
</ContentMultiImage>