---
import Content from '~/components/widgets/Content.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';
---

<Content
  isAfterContent
  isReversed
  image={{
    src: '~/assets/images/insegnanti_opere/andrea_modica_8.jpg',
    alt: 'Colorful Image',
  }}
  imageCredit="© Andrea Modica"
  classes={{
    imageOverlay: '',
    imageOverlayText: ' text-primary text-lg'
  }}
>
  <Fragment slot="content">
    <PortraTitle title="Obiettivi"/>
    <p>
      L'obiettivo del percorso è la crescita come autori indipendenti. Crescere come autore significa innanzitutto trovare una voce personale: non ci occupiamo di fotografia commerciale, non limitiamo i partecipanti a generi fotografici predefiniti, ma lavoriamo sulla crescita di ogni fotografo in modo individuale.
    </p>
    <p>
      Chi conclude il percorso porta con sé un ricco bagaglio di esperienze e diversi lavori personali coerenti e stratificati, la capacità di pensare criticamente e di sviluppare progetti a lungo termine. Impara un metodo di ricerca applicabile a qualsiasi ambito artistico e acquisisce un’autonomia creativa che permette di distinguere tra intuizioni autentiche e cliché, di sostenere le proprie scelte e di dialogare con il mondo dell’arte e della fotografia contemporanea in modo consapevole. Molti studenti hanno proseguito con la pubblicazione di libri, con mostre personali o collettive, partecipazioni a festival e collaborazioni con istituzioni.

    </p>

  </Fragment>
</Content>