---
import Content from '~/components/widgets/Content.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';
import saraImage from '~/assets/images/studenti_opere/sara-castiglioni.jpg';
---

<Content
  id='percorso'
  isAfterContent
  image={{
    src: saraImage,
    alt: 'Colorful Image',
  }}
  imageCredit="© Sara Castiglioni"
  classes={{
    imageOverlay: '',
    imageOverlayText: ' text-primary text-lg'
  }}
>
  <Fragment slot="content">
    <PortraTitle title="Il percorso"/>
    <p>
      Noi crediamo che la fotografia, insieme ad altri medium, sia uno strumento essenziale per investigare il reale. Fotografare nasce di solito da un bisogno egocentrico di esprimersi, ma questo talento è un dono che va condiviso. Essere fotografi significa assumersi la responsabilità di vedere il mondo con occhi nuovi e di narrarlo agli altri. <span class='highlighter'>Il nostro approccio mette al centro la postura morale dell'autore e il suo ruolo nella società contemporanea.</span>
    </p>
    <p>
     Ma è davvero possibile insegnare a sviluppare una visione originale, lontana da cliché e verità preconfezionate? Noi crediamo di sì. <span class='highlighter'>Accogliamo solo sedici studenti ogni anno per poterli seguire in modo individuale</span>. Gli chiediamo molto, ma senza costringerli a risultati immediati. È un lavoro di pazienza e dedizione, come coltivare un campo che fiorirà nel tempo. Lo spazio di lavoro è molto esigente ma non competitivo: l’apprendimento si fonda su dialogo, studio e pratica attiva. L’obiettivo non è la produzione seriale di immagini, ma l’attivazione di processi di ricerca e la costruzione di un pensiero autonomo.
    </p>
    <p>
      Per noi la fotografia è parte di un sistema interconnesso, in cui immagine, pensiero e cultura si intrecciano. L’approccio è interdisciplinare: letteratura, filosofia, cinema, arti visive, neuroscienze.
    </p>
  </Fragment>
</Content>