---
import SlideHero from '~/components/widgets/SlideHero.astro';

const heroImages = [
  '/assets/images/top-slideshow/0010.jpg',
  '/assets/images/top-slideshow/0020.jpg',
  '/assets/images/top-slideshow/0030.jpg',
  '/assets/images/top-slideshow/0040.jpg',
  '/assets/images/top-slideshow/0050.jpg',
  '/assets/images/top-slideshow/0060.jpg',
  '/assets/images/top-slideshow/0070.jpg',
  '/assets/images/top-slideshow/0080.jpg',
  '/assets/images/top-slideshow/0090.jpg',
  '/assets/images/top-slideshow/0100.jpg',
  '/assets/images/top-slideshow/0110.jpg',
  '/assets/images/top-slideshow/0120.jpg',
  '/assets/images/top-slideshow/0130.jpg',
  '/assets/images/top-slideshow/0140.jpg',
  '/assets/images/top-slideshow/0150.jpg',
  '/assets/images/top-slideshow/0160.jpg',
  '/assets/images/top-slideshow/0170.jpg',
  '/assets/images/top-slideshow/0180.jpg',
  '/assets/images/top-slideshow/0190.jpg',
  '/assets/images/top-slideshow/0200.jpg',
];
---

<SlideHero
  anchorId="intro"
  images={heroImages}
  imageDuration={500}
  title="THE SOUL AND THE MACHINE"
  subtitle="Programma biennale di fotografia autoriale"
>
  <Fragment slot="subtitle">
    <span class="inline">
      Programma biennale di fotografia autoriale
    </span>
  </Fragment>
</SlideHero>