---
import Content from '~/components/widgets/Content.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';
import federicaDanzi from '~/assets/images/studenti_opere/federicadanzi_06.jpg';
---

<Content
  isAfterContent
  isReversed
  image={{
    src: federicaDanzi,
    alt: 'Colorful Image',
  }}
  imageCredit="© Federica Danzi"
>
  <Fragment slot="content">
    <PortraTitle tagline="Secondo anno" title="LAMIAVOCE"/>
    <p>Quali sono le paure che vi attanagliano? Chi siete quando nessuno vi vede? Per che cosa sareste disposti a dare la vita? Nel secondo anno continuiamo a scoprire chi siete.
    </p>
    <p>Adesso che i partecipanti hanno più consapevolezza del tipo di immagini che gli appartengono, dei temi che gli stanno a cuore, di cosa si può fare con la fotografia e di quante strade diverse e originali si possono prendere, è il momento di sperimentare diversi metodi di produzione artistica. Noi non chiediamo ai nostri studenti di lavorare ad un solo progetto, perché pensiamo che la scuola sia il momento in cui bisogna fare il più esperienze possibile e sia il luogo in cui essere un po’ spinti al di là di quello che faremmo per abitudine o attitudine. I partecipanti sperimenteranno diverse strutture e metodi di produzione concettuali allontanandosi dal processo di creazione fotografica tipico dei reportage classici. Capiranno come relazionarsi al proprio lavoro e farlo crescere sempre più in direzioni nuove e inaspettate. 
    </p>
    <p>Un altro aspetto fondamentale del secondo anno è l’editing. Come le immagini interagiscono tra di loro? Dittici, serialità, narrativa visuale: impareremo a editare e montare progetti fotografici individuali e collettivi. Grazie a ben quattro professionisti del settore, i partecipanti sperimenteranno con il libro fotografico, la fanzine e la mostra come dispositivo di comunicazione. Un corso si occuperà anche di esplorare la fotografia vernacolare e l’approccio autoriale agli archivi.
    </p>
    <p>Si lavorerà inoltre sulla presentazione di noi stessi e dei nostri progetti nel mondo professionale della fotografia autoriale, i nostri destinatari saranno sia i magazine che le gallerie e le residenze artistiche.
    </p>
  </Fragment>
</Content>