---
import Content from '~/components/widgets/Content.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';
---

<Content
  isAfterContent
  isReversed
  image={{
    src: '~/assets/images/insegnanti_opere/4_nausicaagiuliabianchi_2021_14_D-web 2.jpg',
    alt: 'Colorful Image',
  }}
  imageCredit="© Nausicaa Giulia Bianchi"
>
  <Fragment slot="content">
    <PortraTitle tagline="Secondo anno" title="LAMIAVOCE"/>
    <p>Quali sono le paure che vi attanagliano? <span class="highlighter">Chi siete quando nessuno vi vede? Per che cosa sareste disposti a dare la vita senza avere niente in cambio?</span> Nel secondo anno continuiamo a scoprire chi siete in un percorso sempre più individuale.
    </p>
    <p>Adesso che i partecipanti hanno più consapevolezza del tipo di immagini che gli appartengono, dei temi che gli stanno a cuore, di cosa si può fare con la fotografia e di quante strade diverse e originali si possono prendere, è il momento di spingere la loro fotografia verso i campi di ricerca di loro scelta, sia giornalistica che artistica. Ci occuperemo di cosa sono i <span class="highlighter">progetti fotografici</span> e di come costruire un <span class="highlighter">processo di ricerca</span> che eviti essi diventino il regno dei nostri stereotipi e del già noto. I partecipanti capiranno come relazionarsi al proprio lavoro e farlo crescere sempre più in direzioni nuove e inaspettate.
    </p>
    <p>Come le immagini interagiscono tra di loro? Dittici, serialità, narrativa visuale. Grazie a ben quattro professionisti del settore, i partecipanti sperimenteranno con il libro fotografico, la fanzine e la mostra come dispositivo di comunicazione. Un corso si occuperà anche di esplorare la fotografia vernacolare e l'approccio autoriale agli archivi.
    </p>
    <p>Si lavorerà inoltre sulla presentazione di noi stessi e dei nostri progetti nel mondo professionale della fotografia autoriale, i nostri destinatari saranno sia i magazine che le gallerie e le residenze artistiche.
    </p>
  </Fragment>
</Content>