---
import Content from '~/components/widgets/Content.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';
import studentImage from '~/assets/images/studenti_opere/fabiosolfanelli_SCAN091.jpg';

interface Props {
  id?: string;
}

const { id = "a-chi" } = Astro.props;
---

<Content
  title="Che cosa facciamo"
  id={id}
  image={{
    src: studentImage,
    alt: 'Colorful Image',
  }}
  imageCredit="© Fabio Solfanelli"
>
  <Fragment slot="content">
    <PortraTitle title="A chi è rivolto"/>
    <p>
      The Soul and the Machine è rivolto a chi vuole essere fotografo e sente di avere qualcosa da dire attraverso la fotografia. È rivolto a tutti quei fotografi il cui lavoro si posiziona tra la documentaristica e l'arte, a chi vuole fotografare per cambiare il mondo. Sono parole forti, ma non usate a caso. Questo corso non è per chi vede la fotografia come un passatempo o un mezzo commerciale. 
    </p>
    <p>
      Si tratta di un corso impegnativo, che richiede studio e pratica, ma non è un
      corso full-time. È concepito per coesistere con altre attività, con altri studi
      o con periodi di viaggio.
    </p>
  </Fragment>
</Content>