---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Scarica il programma',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Candìdati', href: '#features' },
    ]}
    image={{ src: '~/assets/images/simonaramponi2_2.jpg', alt: 'Cover', objectPosition: '50% 16%' }}
  >
    <Fragment slot="title">
      <span class="inline-block">Ci prendiamo cura del fotografo,</span>
      <span class="inline-block">non solo delle fotografie</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class=" inline">
        <span class="font-semibold">The Soul and The Machine</span> è un corso biennale di fotografia 
        autoriale che dal 2017 ruota intorno alla visione e all’esperienza di 
        Nausicaa Giulia Bianchi con la partecipazione di docenti di fama internazionale.
      </span>
    </Fragment>
  </Hero>



  <!-- Content Widget **************** -->
  
  <Content
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Che cos'è</h3>
      <p>Nausicaa Giulia Bianchi ha deciso di chiamare il primo anno <span class="small-caps"></span> ILGIOCO pensando a Luciano Fabro che esortava a «Giocare come i gatti, con le unghie di fuori». Giocare sul serio è un passaggio fondamentale e lo scopo del primo anno è quello di mettere in moto la consapevolezza dei partecipanti, allenarli al <b>rischio creativo</b>, alla ricerca <b>artistica e intellettuale</b>.</p>
      <p>Il corso si articola in una serie di moduli, corsi monografici, lezioni di ospiti e workshop.
      Tutti i moduli sono insegnati in diretta online il martedì e mercoledì sera e prevedono la produzione di lavoro fotografico, detto “gioco”, da parte dei partecipanti. Il lavoro di tutti viene revisionato ogni volta.
      I diversi “giochi” fotografici hanno lo scopo di approfondire temi quali il <b>linguaggio visuale</b>, lo stile, cosa è l’autorialità e il processo creativo. Il primo anno pone le basi per trovare la propria voce e mette l’accento, soprattutto, sul creare immagini forti.
      </p>
    </Fragment>

  </Content>

  <Content
  isAfterContent
  image={{
    src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
    alt: 'Blueprint Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">A chi è rivolto</h3>
    <p>
      Il secondo anno di corso, LAMIAVOCE, sviluppa ciò che è stato seminato ampliando concetti quali il progetto fotografico e la narrativa visuale. Attraverso strumenti raffinati lavoriamo sul processo e sulla metodologia di lavoro di ogni partecipante. Inoltre approfondiamo l’editing per mostre e fotolibri con la partecipazione di un curatore o di un photo-book designer.
    </p>
    <p>
      Gli ospiti e i laboratori di approfondimento vengono selezionati di anno in anno su misura per ogni classe.
    </p>
  </Fragment>

</Content>

<Steps
    title="Obiettivi"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    items={[
      {
        title: 'Email us',
        description: 'Crescere come autore significa innanzitutto trovare una voce personale: non insegniamo come arrivare ad un prodotto fotografico, non schiacciamo le persone dentro generi precostituiti, ma lavoriamo sulla crescita di ogni fotografo in modo libero e personalizzato.',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: 'Alla fine di questo percorso il partecipante saprà guardare, parlare e fare fotografia con uno sguardo non commerciale e una comprensione profonda e filosofica della materia; sarà in grado di usare la fotografia come strumento di ricerca.',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: 'The Soul and the Machine prepara inoltre ad avere un approccio critico al proprio lavoro, a muoversi professionalmente nel mondo della fotografia e a interloquire con editori, musei, gallerie e fondazioni.',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <Content
    isReversed
    tagline="Primo anno"
    title="Programma del corso"
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Primo anno: ILGIOCO</h3>
      <p>Nausicaa Giulia Bianchi ha deciso di chiamare il primo anno <span class="small-caps"></span> ILGIOCO pensando a Luciano Fabro che esortava a «Giocare come i gatti, con le unghie di fuori». Giocare sul serio è un passaggio fondamentale e lo scopo del primo anno è quello di mettere in moto la consapevolezza dei partecipanti, allenarli al <b>rischio creativo</b>, alla ricerca <b>artistica e intellettuale</b>.</p>
      <p>Il corso si articola in una serie di moduli, corsi monografici, lezioni di ospiti e workshop.
      Tutti i moduli sono insegnati in diretta online il martedì e mercoledì sera e prevedono la produzione di lavoro fotografico, detto “gioco”, da parte dei partecipanti. Il lavoro di tutti viene revisionato ogni volta.
      I diversi “giochi” fotografici hanno lo scopo di approfondire temi quali il <b>linguaggio visuale</b>, lo stile, cosa è l’autorialità e il processo creativo. Il primo anno pone le basi per trovare la propria voce e mette l’accento, soprattutto, sul creare immagini forti.
      </p>
    </Fragment>

  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Secondo anno: LAMIAVOCE</h3>
      <p>
        Il secondo anno di corso, LAMIAVOCE, sviluppa ciò che è stato seminato ampliando concetti quali il progetto fotografico e la narrativa visuale. Attraverso strumenti raffinati lavoriamo sul processo e sulla metodologia di lavoro di ogni partecipante. Inoltre approfondiamo l’editing per mostre e fotolibri con la partecipazione di un curatore o di un photo-book designer.
      </p>
      <p>
        Gli ospiti e i laboratori di approfondimento vengono selezionati di anno in anno su misura per ogni classe.
      </p>
    </Fragment>

  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Domande più frequenti"
    tagline="FAQ"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Il corso è rivolto ai professionisti?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'Ci sono obblighi di frequenza?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
    ]}
  />

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>