---
import Layout from '~/layouts/PageLayout.astro';

import Testimonials3 from '~/components/widgets/Testimonials3.astro';
import Testimonials2 from '~/components/widgets/Testimonials2.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import VideoHero from '~/components/widgets/VideoHero.astro';
import PortraTitle from '~/components/ui/PortraTitle.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>

  <VideoHero
    title="THE SOUL AND THE MACHINE"
    videoSrc="/assets/videos/Videotsatm_v5.mp4"
    poster="/assets/images/FOTO1VIDEO_fiammetta_cerreti.jpg"
    videoSpeed={0.6}
  >
  <Fragment slot="subtitle">
    <span class=" inline">
    Programma biennale di fotografia autoriale
    </span>
  </Fragment>
  </VideoHero>

</Layout>